// 最大到最小
// $h1: 10.5vh;
// $h2: 4.5vh;
// $h3: 5.5vh;
// $h4: 7vh;
// $h5: 1.3rem;
// $h6: 3vh;
// $small: 2.7vh;

$h1: 10.5vh;
$h2: 7vh;
$h3: 5.5vh;
$h4: 4.5vh;
$h5: 3vh;
$h6: 2.7vh;
$small: 1.3rem;